In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import env

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [3]:
# function to query database and return zillow df

def get_data_from_sql():
    query = """
    SELECT * FROM properties_2017
    JOIN predictions_2017 as p USING(parcelid)
    
    WHERE transactiondate < '2018-01-01'
    """
    df = pd.read_sql(query, get_connection('zillow'))
    return df

In [4]:
# 

df = get_data_from_sql()

In [5]:
# get an overview of the data aquired

df.head(20)

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate
0,14297519,1727539,NaN,NaN,NaN,3.50,4.00,NaN,NaN,3.50,...,"1,023,282.00","2,016.00","537,569.00","11,013.72",None,NaN,"60,590,630,072,012.00",0,0.03,2017-01-01
1,17052889,1387261,NaN,NaN,NaN,1.00,2.00,NaN,NaN,1.00,...,"464,000.00","2,016.00","376,000.00","5,672.48",None,NaN,"61,110,010,023,006.00",1,0.06,2017-01-01
2,14186244,11677,NaN,NaN,NaN,2.00,3.00,NaN,NaN,2.00,...,"564,778.00","2,016.00","479,489.00","6,488.30",None,NaN,"60,590,218,022,012.00",2,0.01,2017-01-01
3,12177905,2288172,NaN,NaN,NaN,3.00,4.00,NaN,8.00,3.00,...,"145,143.00","2,016.00","36,225.00","1,777.51",None,NaN,"60,373,001,001,006.00",3,-0.10,2017-01-01
4,10887214,1970746,1.00,NaN,NaN,3.00,3.00,NaN,8.00,3.00,...,"119,407.00","2,016.00","45,726.00","1,533.89",None,NaN,"60,371,236,012,000.00",4,0.01,2017-01-01
5,17143294,1447245,NaN,NaN,NaN,2.00,3.00,NaN,NaN,2.00,...,"331,064.00","2,016.00","132,424.00","3,508.10",None,NaN,"61,110,053,062,009.00",5,-0.02,2017-01-01
6,12095076,781532,1.00,NaN,NaN,3.00,4.00,NaN,9.00,3.00,...,"773,303.00","2,016.00","496,619.00","9,516.26",None,NaN,"60,374,608,001,014.00",6,-0.00,2017-01-01
7,12069064,870991,NaN,NaN,NaN,1.00,2.00,NaN,5.00,1.00,...,"218,552.00","2,016.00","199,662.00","2,366.08",None,NaN,"60,373,020,041,001.00",7,0.10,2017-01-01
8,12790562,1246926,NaN,NaN,NaN,3.00,4.00,NaN,9.00,3.00,...,"220,583.00","2,016.00","43,056.00","3,104.19",None,NaN,"60,375,002,024,006.00",8,-0.04,2017-01-02
9,11542646,1585097,NaN,NaN,NaN,3.00,2.00,NaN,8.00,3.00,...,"371,361.00","2,016.00","220,058.00","4,557.32",None,NaN,"60,372,751,022,006.00",9,-0.04,2017-01-02
10,11104527,1639362,1.00,NaN,NaN,3.00,4.00,NaN,8.00,3.00,...,"430,108.00","2,016.00","158,393.00","6,103.36",None,NaN,"60,379,200,341,014.00",10,0.01,2017-01-02
11,13984101,2963523,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,...,"471,590.00","2,016.00","309,919.00","6,151.38",None,NaN,"60,590,422,015,010.00",11,-0.15,2017-01-02
12,14705431,2116302,NaN,NaN,NaN,2.50,3.00,NaN,NaN,2.50,...,"582,011.00","2,016.00","463,974.00","6,675.04",None,NaN,"60,590,993,064,001.00",12,-0.03,2017-01-02
13,13944538,249412,13.00,NaN,NaN,2.50,3.00,NaN,NaN,2.50,...,"319,668.00","2,016.00","223,051.00","4,078.08",None,NaN,"60,590,888,014,006.00",13,0.05,2017-01-02
14,14731691,2205733,NaN,NaN,NaN,2.00,2.00,NaN,NaN,2.00,...,"132,425.00","2,016.00","15,362.00","1,771.34",None,NaN,"60,590,992,293,006.00",14,-0.01,2017-01-02
15,17110996,43675,NaN,NaN,NaN,2.50,3.00,NaN,NaN,2.50,...,"198,054.00","2,016.00","99,028.00","2,204.84",None,NaN,"61,110,050,041,163.00",15,0.01,2017-01-02
16,14375300,1548721,13.00,NaN,NaN,2.00,4.00,NaN,NaN,2.00,...,"528,847.00","2,016.00","359,729.00","5,496.44",None,NaN,"60,590,524,081,002.00",16,-0.02,2017-01-02
17,12045625,1169121,1.00,NaN,NaN,3.00,3.00,NaN,8.00,3.00,...,"259,197.00","2,016.00","89,470.00","2,831.48",None,NaN,"60,373,006,003,007.00",17,-0.02,2017-01-02
18,11830315,571930,NaN,NaN,NaN,1.00,2.00,NaN,4.00,1.00,...,"273,745.00","2,016.00","145,785.00","3,739.02",None,NaN,"60,375,316,041,001.00",18,-0.04,2017-01-02
19,14730402,2712452,NaN,NaN,NaN,2.00,2.00,NaN,NaN,2.00,...,"245,910.00","2,016.00","170,974.00","2,548.58",Y,15.00,"60,590,320,471,001.00",19,-0.01,2017-01-02

In [6]:
df.shape

(77613, 62)

In [7]:
def get_data_from_sql():
    query = """
    select *
    from properties_2017
    join (select parcelid, logerror, max(transactiondate) as transactiondate
    FROM predictions_2017 group by parcelid, logerror) as pred_2017 using(parcelid)
    #left join predictions_2017 on properties_2017.parcelid = predictions_2017.parcelid
    left join airconditioningtype using(airconditioningtypeid)
    left join architecturalstyletype using(architecturalstyletypeid)
    left join buildingclasstype using(buildingclasstypeid)
    left join heatingorsystemtype using(heatingorsystemtypeid)
    left join propertylandusetype using(propertylandusetypeid)
    left join storytype using(storytypeid)
    left join typeconstructiontype using(typeconstructiontypeid)
    where properties_2017.latitude is not null
    and properties_2017.longitude is not null
    ;
     """
    df = pd.read_sql(query, get_connection('zillow'))
    return df

In [8]:
df = get_data_from_sql()
df.head(20)

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.00,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,"60,590,630,072,012.00",0.03,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,NaN,NaN,261.00,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,"61,110,010,023,006.00",0.06,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,NaN,NaN,261.00,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,"60,590,218,022,012.00",0.01,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,NaN,NaN,261.00,2.00,NaN,NaN,NaN,12177905,2288172,NaN,...,"60,373,001,001,006.00",-0.10,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,NaN,NaN,266.00,2.00,NaN,NaN,1.00,10887214,1970746,NaN,...,"60,371,236,012,000.00",0.01,2017-01-01,Central,None,None,Central,Condominium,None,None
5,NaN,NaN,266.00,NaN,NaN,NaN,NaN,17143294,1447245,NaN,...,"61,110,053,062,009.00",-0.02,2017-01-01,None,None,None,None,Condominium,None,None
6,NaN,NaN,261.00,2.00,NaN,NaN,1.00,12095076,781532,NaN,...,"60,374,608,001,014.00",-0.00,2017-01-01,Central,None,None,Central,Single Family Residential,None,None
7,NaN,NaN,261.00,NaN,NaN,NaN,NaN,12069064,870991,NaN,...,"60,373,020,041,001.00",0.10,2017-01-01,None,None,None,None,Single Family Residential,None,None
8,NaN,NaN,261.00,2.00,NaN,NaN,NaN,12790562,1246926,NaN,...,"60,375,002,024,006.00",-0.04,2017-01-02,None,None,None,Central,Single Family Residential,None,None
9,NaN,NaN,266.00,2.00,NaN,NaN,NaN,11542646,1585097,NaN,...,"60,372,751,022,006.00",-0.04,2017-01-02,None,None,None,Central,Condominium,None,None
10,NaN,NaN,261.00,2.00,NaN,NaN,1.00,11104527,1639362,NaN,...,"60,379,200,341,014.00",0.01,2017-01-02,Central,None,None,Central,Single Family Residential,None,None
11,NaN,NaN,246.00,NaN,NaN,NaN,NaN,13984101,2963523,NaN,...,"60,590,422,015,010.00",-0.15,2017-01-02,None,None,None,None,"Duplex (2 Units, Any Combination)",None,None
12,NaN,NaN,266.00,NaN,NaN,NaN,NaN,14705431,2116302,NaN,...,"60,590,993,064,001.00",-0.03,2017-01-02,None,None,None,None,Condominium,None,None
13,NaN,NaN,261.00,NaN,NaN,NaN,13.00,13944538,249412,NaN,...,"60,590,888,014,006.00",0.05,2017-01-02,Yes,None,None,None,Single Family Residential,None,None
14,NaN,NaN,266.00,NaN,NaN,NaN,NaN,14731691,2205733,NaN,...,"60,590,992,293,006.00",-0.01,2017-01-02,None,None,None,None,Condominium,None,None
15,NaN,NaN,261.00,NaN,NaN,NaN,NaN,17110996,43675,NaN,...,"61,110,050,041,163.00",0.01,2017-01-02,None,None,None,None,Single Family Residential,None,None
16,NaN,NaN,261.00,NaN,NaN,NaN,13.00,14375300,1548721,NaN,...,"60,590,524,081,002.00",-0.02,2017-01-02,Yes,None,None,None,Single Family Residential,None,None
17,NaN,NaN,266.00,2.00,NaN,NaN,1.00,12045625,1169121,NaN,...,"60,373,006,003,007.00",-0.02,2017-01-02,Central,None,None,Central,Condominium,None,None
18,NaN,NaN,261.00,7.00,NaN,NaN,NaN,11830315,571930,NaN,...,"60,375,316,041,001.00",-0.04,2017-01-02,None,None,None,Floor/Wall,Single Family Residential,None,None
19,NaN,NaN,266.00,NaN,NaN,NaN,NaN,14730402,2712452,NaN,...,"60,590,320,471,001.00",-0.01,2017-01-02,None,None,None,None,Condominium,None,None

In [9]:
df.shape

(77575, 68)

In [10]:
def get_data_from_sql():
    query = """
    SELECT prop.*, 
       pred.logerror, 
       pred.transactiondate, 
       air.airconditioningdesc, 
       arch.architecturalstyledesc, 
       build.buildingclassdesc, 
       heat.heatingorsystemdesc, 
       landuse.propertylandusedesc, 
       story.storydesc, 
       construct.typeconstructiondesc 

FROM   properties_2017 prop  
       INNER JOIN (SELECT parcelid,
                          logerror,
                          Max(transactiondate) transactiondate 
                   FROM   predictions_2017 
                   GROUP  BY parcelid, logerror) pred
               USING (parcelid) 
       LEFT JOIN airconditioningtype air USING (airconditioningtypeid) 
       LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid) 
       LEFT JOIN buildingclasstype build USING (buildingclasstypeid) 
       LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid) 
       LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid) 
       LEFT JOIN storytype story USING (storytypeid) 
       LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid) 
WHERE  prop.latitude IS NOT NULL 
       AND prop.longitude IS NOT NULL """
    df = pd.read_sql(query, get_connection('zillow'))
    return df

In [11]:
df = get_data_from_sql()
df.head(20)

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.50,4.00,NaN,NaN,3.50,...,"60,590,630,072,012.00",0.03,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.00,2.00,NaN,NaN,1.00,...,"61,110,010,023,006.00",0.06,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.00,3.00,NaN,NaN,2.00,...,"60,590,218,022,012.00",0.01,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.00,4.00,NaN,8.00,3.00,...,"60,373,001,001,006.00",-0.10,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.00,NaN,NaN,3.00,3.00,NaN,8.00,3.00,...,"60,371,236,012,000.00",0.01,2017-01-01,Central,None,None,Central,Condominium,None,None
5,1447245,17143294,NaN,NaN,NaN,2.00,3.00,NaN,NaN,2.00,...,"61,110,053,062,009.00",-0.02,2017-01-01,None,None,None,None,Condominium,None,None
6,781532,12095076,1.00,NaN,NaN,3.00,4.00,NaN,9.00,3.00,...,"60,374,608,001,014.00",-0.00,2017-01-01,Central,None,None,Central,Single Family Residential,None,None
7,870991,12069064,NaN,NaN,NaN,1.00,2.00,NaN,5.00,1.00,...,"60,373,020,041,001.00",0.10,2017-01-01,None,None,None,None,Single Family Residential,None,None
8,1246926,12790562,NaN,NaN,NaN,3.00,4.00,NaN,9.00,3.00,...,"60,375,002,024,006.00",-0.04,2017-01-02,None,None,None,Central,Single Family Residential,None,None
9,1585097,11542646,NaN,NaN,NaN,3.00,2.00,NaN,8.00,3.00,...,"60,372,751,022,006.00",-0.04,2017-01-02,None,None,None,Central,Condominium,None,None
10,1639362,11104527,1.00,NaN,NaN,3.00,4.00,NaN,8.00,3.00,...,"60,379,200,341,014.00",0.01,2017-01-02,Central,None,None,Central,Single Family Residential,None,None
11,2963523,13984101,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,...,"60,590,422,015,010.00",-0.15,2017-01-02,None,None,None,None,"Duplex (2 Units, Any Combination)",None,None
12,2116302,14705431,NaN,NaN,NaN,2.50,3.00,NaN,NaN,2.50,...,"60,590,993,064,001.00",-0.03,2017-01-02,None,None,None,None,Condominium,None,None
13,249412,13944538,13.00,NaN,NaN,2.50,3.00,NaN,NaN,2.50,...,"60,590,888,014,006.00",0.05,2017-01-02,Yes,None,None,None,Single Family Residential,None,None
14,2205733,14731691,NaN,NaN,NaN,2.00,2.00,NaN,NaN,2.00,...,"60,590,992,293,006.00",-0.01,2017-01-02,None,None,None,None,Condominium,None,None
15,43675,17110996,NaN,NaN,NaN,2.50,3.00,NaN,NaN,2.50,...,"61,110,050,041,163.00",0.01,2017-01-02,None,None,None,None,Single Family Residential,None,None
16,1548721,14375300,13.00,NaN,NaN,2.00,4.00,NaN,NaN,2.00,...,"60,590,524,081,002.00",-0.02,2017-01-02,Yes,None,None,None,Single Family Residential,None,None
17,1169121,12045625,1.00,NaN,NaN,3.00,3.00,NaN,8.00,3.00,...,"60,373,006,003,007.00",-0.02,2017-01-02,Central,None,None,Central,Condominium,None,None
18,571930,11830315,NaN,NaN,NaN,1.00,2.00,NaN,4.00,1.00,...,"60,375,316,041,001.00",-0.04,2017-01-02,None,None,None,Floor/Wall,Single Family Residential,None,None
19,2712452,14730402,NaN,NaN,NaN,2.00,2.00,NaN,NaN,2.00,...,"60,590,320,471,001.00",-0.01,2017-01-02,None,None,None,None,Condominium,None,None

In [12]:
df.shape

(77575, 68)

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,"77,575.00","1,495,352.00","860,970.27",349.00,"752,105.00","1,498,195.00","2,240,715.00","2,982,274.00"
parcelid,"77,575.00","13,006,298.98","3,478,020.75","10,711,855.00","11,538,198.00","12,530,531.00","14,211,235.50","167,689,317.00"
airconditioningtypeid,"25,006.00",1.81,2.97,1.00,1.00,1.00,1.00,13.00
architecturalstyletypeid,206.00,7.39,2.73,2.00,7.00,7.00,7.00,21.00
basementsqft,50.00,679.72,689.70,38.00,273.00,515.00,796.50,"3,560.00"
bathroomcnt,"77,575.00",2.30,1.00,0.00,2.00,2.00,3.00,18.00
bedroomcnt,"77,575.00",3.05,1.14,0.00,2.00,3.00,4.00,16.00
buildingclasstypeid,15.00,3.93,0.26,3.00,4.00,4.00,4.00,4.00
buildingqualitytypeid,"49,809.00",6.53,1.72,1.00,6.00,6.00,8.00,12.00
calculatedbathnbr,"76,960.00",2.32,0.98,1.00,2.00,2.00,3.00,18.00
decktypeid,614.00,66.00,0.00,66.00,66.00,66.00,66.00,66.00
finishedfloor1squarefeet,"6,035.00","1,366.20",670.80,44.00,955.00,"1,257.00","1,615.00","6,912.00"
calculatedfinishedsquarefeet,"77,375.00","1,784.94",954.26,128.00,"1,182.00","1,542.00","2,112.00","35,640.00"
finishedsquarefeet12,"73,920.00","1,760.29",934.36,128.00,"1,172.00","1,523.00","2,075.00","21,929.00"
finishedsquarefeet13,42.00,"1,388.76",122.22,"1,056.00","1,344.00","1,440.00","1,440.00","1,560.00"
finishedsquarefeet15,"3,027.00","2,354.49","1,186.99",598.00,"1,624.00","2,088.00","2,831.00","35,640.00"
finishedsquarefeet50,"6,035.00","1,381.43",725.90,44.00,956.00,"1,259.00","1,621.00","12,467.00"
finishedsquarefeet6,386.00,"2,082.50","1,240.38",380.00,993.75,"1,812.50","3,053.50","5,598.00"
fips,"77,575.00","6,048.81",20.75,"6,037.00","6,037.00","6,037.00","6,059.00","6,111.00"
fireplacecnt,"8,287.00",1.19,0.49,1.00,1.00,1.00,1.00,5.00
fullbathcnt,"76,960.00",2.25,0.97,1.00,2.00,2.00,3.00,18.00
garagecarcnt,"25,517.00",1.82,0.59,0.00,2.00,2.00,2.00,14.00
garagetotalsqft,"25,517.00",350.06,261.65,0.00,0.00,436.00,492.00,"4,251.00"
hashottuborspa,"1,539.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
heatingorsystemtypeid,"49,570.00",3.92,3.59,1.00,2.00,2.00,7.00,24.00
latitude,"77,575.00","34,008,366.13","265,287.75","33,339,527.00","33,814,629.00","34,022,000.00","34,174,307.50","34,818,767.00"
longitude,"77,575.00","-118,203,713.57","359,382.61","-119,475,416.00","-118,415,000.00","-118,181,000.00","-117,928,642.50","-117,554,636.00"
lotsizesquarefeet,"69,318.00","29,974.45","123,307.62",236.00,"5,700.00","7,206.00","11,837.00","6,971,010.00"
poolcnt,"16,173.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
poolsizesum,869.00,517.93,156.57,24.00,424.00,500.00,600.00,"1,500.00"
pooltypeid10,465.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid2,"1,074.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid7,"15,078.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
propertylandusetypeid,"77,575.00",261.82,5.14,31.00,261.00,261.00,266.00,275.00
rawcensustractandblock,"77,575.00","60,491,228.76","205,876.80","60,371,011.10","60,373,109.00","60,376,031.02","60,590,423.25","61,110,091.00"
regionidcity,"76,103.00","33,683.39","47,212.86","3,491.00","12,447.00","25,218.00","45,457.00","396,556.00"
regionidcounty,"77,575.00","2,534.54",801.45,"1,286.00","1,286.00","3,101.00","3,101.00","3,101.00"
regionidneighborhood,"30,973.00","187,730.30","165,045.23","6,952.00","46,736.00","118,849.00","274,765.00","764,167.00"
regionidzip,"77,525.00","96,586.68","3,793.65","95,982.00","96,193.00","96,389.00","96,987.00","399,675.00"
roomcnt,"77,575.00",1.48,2.82,0.00,0.00,0.00,0.00,15.00
storytypeid,50.00,7.00,0.00,7.00,7.00,7.00,7.00,7.00
threequarterbathnbr,"10,105.00",1.01,0.12,1.00,1.00,1.00,1.00,7.00
typeconstructiontypeid,222.00,6.04,0.56,4.00,6.00,6.00,6.00,13.00
unitcnt,"50,703.00",1.11,1.17,1.00,1.00,1.00,1.00,237.00
yardbuildingsqft17,"2,393.00",305.46,238.74,11.00,170.00,250.00,364.00,"3,191.00"
yardbuildingsqft26,70.00,216.39,190.18,12.00,61.50,164.50,310.50,868.00
yearbuilt,"77,306.00","1,968.61",23.79,"1,824.00","1,953.00","1,970.00","1,987.00","2,016.00"
numberofstories,"17,596.00",1.43,0.54,1.00,1.00,1.00,2.00,6.00
fireplaceflag,172.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
structuretaxvaluedollarcnt,"77,460.00","189,281.45","230,413.73",44.00,"84,182.00","136,404.50","218,734.00","11,421,790.00"
taxvaluedollarcnt,"77,574.00","490,144.70","653,802.18","1,000.00","206,898.50","358,878.50","569,000.00","49,061,236.00"
assessmentyear,"77,575.00","2,016.00",0.00,"2,016.00","2,016.00","2,016.00","2,016.00","2,016.00"
landtaxvaluedollarcnt,"77,573.00","301,145.30","492,728.73",161.00,"85,293.00","203,174.00","366,753.00","48,952,198.00"
taxamount,"77,570.00","5,995.82","7,628.87",19.92,"2,712.63","4,448.26","6,926.78","586,639.30"
taxdelinquencyyear,"2,900.00",14.09,2.18,3.00,14.00,15.00,15.00,99.00
censustractandblock,"77,328.00","60,496,658,430,265.16","1,533,375,678,743.79","60,371,011,101,000.00","60,373,109,004,005.00","60,376,032,001,020.00","60,590,423,251,007.00","483,030,105,084,015.00"
logerror,"77,575.00",0.02,0.17,-4.66,-0.02,0.01,0.04,5.26

In [15]:
df.value_counts

<bound method DataFrame.value_counts of             id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
0      1727539  14297519                    NaN                       NaN
1      1387261  17052889                    NaN                       NaN
2        11677  14186244                    NaN                       NaN
3      2288172  12177905                    NaN                       NaN
4      1970746  10887214                   1.00                       NaN
...        ...       ...                    ...                       ...
77570  2864704  10833991                   1.00                       NaN
77571   673515  11000655                    NaN                       NaN
77572  2968375  17239384                    NaN                       NaN
77573  1843709  12773139                   1.00                       NaN
77574  1187175  12826780                    NaN                       NaN

       basementsqft          bathroomcnt           bedroomcnt  \
0               NaN                 3.50                 4.00
1               NaN                 1.00                 2.00
2               NaN                 2.00                 3.00
3               NaN                 3.00                 4.00
4               NaN                 3.00                 3.00
...             ...                  ...                  ...
77570           NaN                 3.00                 3.00
77571           NaN                 2.00                 2.00
77572           NaN                 2.00                 4.00
77573           NaN                 1.00                 3.00
77574           NaN                 2.00                 3.00

       buildingclasstypeid  buildingqualitytypeid    calculatedbathnbr  ...  \
0                      NaN                    NaN                 3.50  ...
1                      NaN                    NaN                 1.00  ...
2                      NaN                    NaN                 2.00  ...
3                      NaN                   8.00                 3.00  ...
4                      NaN                   8.00                 3.00  ...
...                    ...                    ...                  ...  ...
77570                  NaN                   8.00                 3.00  ...
77571                  NaN                   6.00                 2.00  ...
77572                  NaN                    NaN                 2.00  ...
77573                  NaN                   4.00                 1.00  ...
77574                  NaN                   6.00                 2.00  ...

        censustractandblock             logerror  transactiondate  \
0     60,590,630,072,012.00                 0.03       2017-01-01
1     61,110,010,023,006.00                 0.06       2017-01-01
2     60,590,218,022,012.00                 0.01       2017-01-01
3     60,373,001,001,006.00                -0.10       2017-01-01
4     60,371,236,012,000.00                 0.01       2017-01-01
...                     ...                  ...              ...
77570 60,371,319,001,006.00                -0.00       2017-09-20
77571 60,371,014,003,002.00                 0.02       2017-09-20
77572 61,110,084,022,016.00                 0.01       2017-09-21
77573 60,374,338,022,005.00                 0.04       2017-09-21
77574 60,375,034,021,020.00                 0.01       2017-09-25

       airconditioningdesc  architecturalstyledesc  buildingclassdesc  \
0                     None                    None               None
1                     None                    None               None
2                     None                    None               None
3                     None                    None               None
4                  Central                    None               None
...                    ...                     ...                ...
77570              Central                    None               None
77571                 None                    None               None
77572                 None                    None               None
77573              Central                    None               None
77574                 None                    None               None

       heatingorsystemdesc        propertylandusedesc  storydesc  \
0                     None  Single Family Residential       None
1                     None  Single Family Residential       None
2                     None  Single Family Residential       None
3                  Central  Single Family Residential       None
4                  Central                Condominium       None
...                    ...                        ...        ...
77570              Central                Condominium       None
77571              Central  Single Family Residential       None
77572                 None  Single Family Residential       None
77573              Central  Single Family Residential       None
77574              Central  Single Family Residential       None

       typeconstructiondesc
0                      None
1                      None
2                      None
3                      None
4                      None
...                     ...
77570                  None
77571                  None
77572                  None
77573                  None
77574                  None

[77575 rows x 68 columns]>

In [18]:
print(df.nunique())

id                          77381
parcelid                    77381
airconditioningtypeid           5
architecturalstyletypeid        5
basementsqft                   43
                            ...
buildingclassdesc               2
heatingorsystemdesc            10
propertylandusedesc            13
storydesc                       1
typeconstructiondesc            4
Length: 68, dtype: int64